@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
    --primary-color: #16acf1;
    --dark-color: #140202;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Mobile Styles */
@media (max-width: 700px) {
    .hide-sm {
        display: none;
    }

    .grid-2,
    .grid-3 {
        grid-template-columns: 1fr;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }
}
