/*form*/
.form__item {
    margin: 1.2rem 0;
}


.form {
    max-width: 500px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
}
.form__title {
    color: var(--primary-color);
}

.form h1,
h2,
h3 {
    text-align: center;
}