.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.alert-light {
    background: var(--light-color);
    color: #333;
}

.alert-danger {
    background: var(--danger-color);
    color: #fff;
}