.card {
    text-align: center;
}

.card__button{}

.card__button_keyframe{
    animation-name: donate_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.card__button_margin {
    margin: 1em
}
@keyframes donate_animation {
    from {}
    to {
        background-color: gold;
        color: #000;
        opacity: 0.9;
    }
}